.resume {
	width:500px;
	padding: 25px;
	border: 15px solid black;
	margin: 25px;
	border-radius: 10px;
	margin-right:auto;
	margin-left: auto;
	background-color: #1DDFF5
		}
	
.picture1 {
	align: center;
	height: 400px;
	width: 750px;
		}
		
.picture2{
	height: 400px;
	width: 250px;
		}
		
body {
	background: #E8CD00;
	}
	
p{font-size:15px;}

h1{		text-align:center;
		font-weight:bold;
		font-size: 32px;}
		
h2{		text-align:center;
		font-weight:bold;
		font-size: 22px;}		
		
h3{		text-align:center;
		font-weight:bold;
		font-size: 20px;}
		
.list1{	text-align: center;
		font-size: 15px;}
		
		
		